<html>
    <head>
        <meta charset="UTF-8"/>
        <title>註冊</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="http://localhost/msg/Controller/javascript/tool.js"></script>
    </head>
    <body>
        <nav class="nav nav-tabs">
            <ul class="nav navbar-nav">
                {{if isset($nickname)}}
                    <li class="nav-item">
                        <a class="nav-link" >{{$nickname}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="add.php?" id="add">發文</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?page=1" id="index">首頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="logout.php?" id="logout">登出</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="login.php?" id="login"><span>登入<span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register.php?" id="register"><span>註冊<span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?page=1" id="index">首頁</a>
                    </li>
                {{/if}}
            </ul>
        </nav>
        <p></p>
        <div class="container col-md-4 col-md-offset-4">
                <div class="form-group">
                    <label>您的暱稱 : </label>
                    <input type="text" class="form-control" name="nickname" id="nickname" placeholder="中英數上限5字">
                    <p id="msgNickname">暱稱需介於一到五字且不可有空白等特殊字元</p>
                </div>
                <div class="form-group">
                    <label for="account">帳號 : </label>
                    <input type="text" class="form-control" name="account" id="account" placeholder="英數2碼以上12碼以下">
                    <p id="msgAccount">帳號需介於2到12字且不可有空白等特殊字元</p>
                </div>
                <div class="form-group">
                    <label for="password">密碼 : </label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="英數2碼以上12碼以下">
                    <p id="msgPassword">密碼需介於2到12字且不可有空白等特殊字元</p>
                </div>
                <div class="form-group">
                    <button id="btnRegister" type="button" class="btn btn-primary offset-sm-3" disabled="true">註冊</button>
                    <a href="index.php?page=1" class="btn btn-danger offset-sm-3" role="button">取消</a>
                </div>
        </div>
    </body>
</html>