<!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="UTF-8"/>
        <title>編輯</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="http://localhost/msg/Controller/javascript/tool.js"></script>
    </head>
    <style>
        #content{
            height: 300px;
        }
    </style>
    <body>
        <nav class="nav nav-tabs">
            <ul class="nav navbar-nav">
                {{if isset($nickname)}}
                    <li class="nav-item">
                        <a class="nav-link" >{{$nickname}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="add.php?" id="add">發文</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?page=1" id="index">首頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="logout.php?" id="logout">登出</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="login.php?" id="login"><span>登入<span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register.php?" id="register"><span>註冊<span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?page=1" id="index">首頁</a>
                    </li>
                {{/if}}
            </ul>
        </nav>
        <div class="container">
            <h2>編輯文章</h2>
            <hr>
                <div class="form-group">
                    <label>標題 : </label>
                    <input type="text" class="form-control" name="title" id="title" value="{{$title}}">
                    <p id="msgTitle"></p>
                </div>
                <div class="form-group">
                    <label>內容 : </label>
                    <textarea type="textarea" class="form-control" 
                        name="content" id="content">{{$content}}</textarea>
                    <input type="hidden" name="article_id" value="{{$article_id}}">
                    <p id="msgContent"></p>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary offset-sm-3" id="btnUpdateArt" value="{{$article_id}}">確定</button>
                    <a href="article.php?id={{$article_id}}" class="btn btn-danger offset-sm-2" role="button">取消</a>
                </div>
        </div>
    </body>
</html